
<!-- <head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head> -->
<!-- <body style="background-color: rgb(0, 0, 0)">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <div id="nav-placeholder"></div>
    <script>
        $(function(){
          $("#nav-placeholder").load("nav.html");
        });
        </script>
</body> -->

<!-- <script src="//code.jquery.com/jquery.min.js"></script>
<script>
$.get("nav.html", function(data){
    $("#nav-placeholder").replaceWith(data);
});
</script> -->